////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

//////////////////////////
//SEARCH
.search {
  background-color: orangered;
  flex: 0 0 40%;

  &__input {
    //color and font of input doesn't inherit from parents
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
  }

  &__button {
  }

  &__icon {
    // format svg icon
    height: 2rem;
    width: 2rem;
  }
}

////////////////////
// USER NAVIGATION

.user-nav {
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
